# ==================================================
# 一般設定
# ==================================================

# Xcode
/*.xcodeproj
*.xcworkspace/

build/
Build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.o

timeline.xctimeline

# Info.plist
Info.plist

# RSwift
R.generated.swift

# MacOS
.DS_Store

# Linux
*.swp
*.swo

# direnv
.envrc

com.mono0926.LicensePlist
com.mono0926.LicensePlist.*

# etc.
infer-out/

# Swift Package Manager
.build/
/Packages
Package.resolved
.swiftpm/

# Carthage
Carthage/

# CocoaPods
Pods/

# Bundle
vendor/